// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2012,2019 Texas Instruments Incorporated - https://www.ti.com/
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>

/*
 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
 */
&{/chosen} {
	overlays {
		BBBLUE-MPU9250-00A0.bb.org-overlays = __TIMESTAMP__;
	};
};

/ {
	fragment@1 {
		target = <&i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			mpu9250@68 {
				compatible = "invensense,mpu9250";
				reg = <0x68>;
				interrupt-parent = <&gpio3>;
				interrupts = <21 IRQ_TYPE_LEVEL_HIGH>;
				i2c-gate {
					#address-cells = <1>;
					#size-cells = <0>;
					ax8975@c {
						compatible = "asahi-kasei,ak8975";
						reg = <0x0c>;
					};
				};
			};
		};
	};
};
